* {
	@include box-sizing(border-box);
}

body {
	font-family: Helvetica, Verdana, sans-serif;
	color: #666;
}

a {
	color: #999;

	&:hover {
		color: #555;
	}
}

#wrapper {
	margin: 1em auto;
}

#header-region {
	text-align: center;
}

.copyright,
#app-region {
	margin: 0 auto;
	width: 535px;
}

.copyright {
	color: #ddd;
	font-size: 0.75em;
	margin-top: 3em;
	text-align: right;
}

