.filter-component {
  margin-bottom: 1em;
  overflow: hidden;
  padding: 1em 0.25em;
  position: relative;

  &:after {
    background: image-url("zoom.png") no-repeat 50% 50%;
    content: "";
    height: 16px;
    position: absolute;
    right: 1em;
    top: 1.4em;
    width: 16px;
  }

  input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 25px;
    float: right;
    font-size: 1.2em;
    padding: 0.15em 1.75em 0.15em 0.75em;
  }

}
