<div class="hero-unit">
	<h2>Look Ma! Not routed!</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>
		<a href="#" class="btn btn-secondary btn-large" id="button-go-to-second">&laquo; Back</a>
		<a href="#other" class="btn btn-primary btn-large" id="button-go-to-other-module">Open other module &raquo;</a>
	</p>
</div>